.sub_contents {
  padding: 0 20px;
}
.sub_contents .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.sub_contents .title-wrap h3 {
  font-size: 24px;
  font-weight: 700;
}
.sub_contents .title-wrap p {
  font-size: 14px;
  color: #666;
}
.sub_contents .title-wrap p::before {
  content: url(../images/sub/signup_dot.svg);
  position: relative;
  top: -2px;
  margin-right: 10px;
}
.sub_contents legend {
  position: absolute;
  left: -999em;
}
.sub_contents fieldset {
  margin-bottom: 40px;
}
.sub_contents .form-row {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #DFDFDF;
}
.sub_contents .form-row.form-top {
  border-top: 1px solid #1C1C1C;
}
.sub_contents .form-row.form-bottom {
  border-bottom: 1px solid #1C1C1C;
}
.sub_contents .form-row.form-row4 {
  justify-content: space-between;
}
.sub_contents .form-row.form-none {
  border-bottom: none;
}
.sub_contents .form-row .title {
  width: 160px;
  color: #666;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
.sub_contents .form-row .title2 {
  width: 70px;
  color: #666;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
.sub_contents .form-row label[for=state-chk] {
  position: relative;
  top: -1px;
  color: #666;
  margin-left: 5px;
}
.sub_contents .form-row input[type=text] {
  width: 240px;
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #CCC;
  margin-right: 10px;
}
/* 수정 CSS - 반복할 때 0 못붙여서 둘다 처리 */
#product-detail-file, #product-slide01-file, #product-slide02-file, #product-slide03-file, #product-slide1-file, #product-slide2-file, #product-slide3-file{
	width: 550px;
}
/* 수정 CSS 완료 */
.sub_contents .form-row input.right[type=text] {
  margin-right: 0;
}
.sub_contents .form-row input.notification[type=text] {
  margin-right: 0;
  width: 660px;
}
.sub_contents .form-row input::placeholder, .sub_contents .form-row textarea::placeholder {
  color: #ccc;
}
.sub_contents .form-row .input-box {
  display: flex;
}
.sub_contents .form-row .error-text {
  color: #FF0000;
}
/* 추가된 CSS 시작 */
.sub_contents .form-row .error-text.active{
  color: green;
}
/* 추가된 CSS 종료 */
.sub_contents .form-row select {
  width: 180px;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #CCC;
  margin-right: 10px;
  color: #999;
  padding: 0 10px;
  appearance: none;
  background-image: url(../images/sub/down_gray.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}
.sub_contents .form-row textarea {
  width: 660px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCC;
}
.sub_contents .form-row input[type=file] {
  position: absolute;
  left: -999em;
}
.sub_contents .form-row input[type=file] + label {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  border: 1px solid #1C1C1C;
  background: #FFF;
  cursor: pointer;
}
.sub_contents #product-insert-btn {
  display: block;
  margin: 0 auto;
  width: 265px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #1C1C1C;
}
.sub_contents #product-update-btn {
  display: block;
  margin: 0 auto;
  width: 265px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #1C1C1C;
}