body.product {
  background-color: #ededed;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.products li {
  width: 285px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.products li:nth-child(4n) {
  margin-right: 0;
}
/* CSS추가 */
.products li img {
  width: 285px; height: 285px;
  object-fit: cover;
  margin-bottom: 20px;
}
.products .list-blank {
	width: 100%; line-height: 1.8;
	text-align: center;
}
.products .list-blank img{
	width: 100px; height: 100px;
	margin: 0 auto;
}
.products .list-blank p{
	font-size: 24px;
}
/* CSS추가 완료 */
.products li h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.products li .code {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.products li .price {
  font-size: 20px;
  font-weight: 500;
}
.products li .sold-out {
  padding: 8px 16px;
  border: 1px solid #1C1C1C;
  position: absolute;
  right: 0;
  bottom: 0;
}
.products li .text-wrap {
  position: relative;
}