<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.smeg.dao.FaqDAO">
	<insert id="insertFaq">
		insert into faq(fa_q,fa_a,fa_me_id)
		values(#{faq.fa_q},#{faq.fa_a},#{faq.fa_me_id})
	</insert>
	<select id="selectFaqList" resultType="kr.kh.smeg.model.vo.FaqVO">
		select * 
  			from faq
	  		<if test='cri.type == "all"'>
	  			where fa_q like concat('%', #{cri.search}, '%')
	  			or fa_a like concat('%', #{cri.search}, '%')
	  		</if>
		  		order by ${cri.order} desc
		  		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectfaqTotalCount" resultType="int">
		select count(*) 
	  		from faq
	  		<if test='cri.type == "all"'>
	 			where fa_q like concat('%', #{cri.search}, '%')
	 			or fa_a like concat('%', #{cri.search}, '%')
	 		</if>
	</select>
	<delete id="deleteFaq">
		delete from faq where fa_num = #{fa_num}
	</delete>
</mapper>