@charset "utf-8";

//변수선언
$min-width: 1200px;
$main-color: #1C1C1C;

.main-contents{
    .faq-q{
        cursor: pointer; //마우스 손모양 처리 - 원래 a태그만 처리
        &.active{ //active가 붙으면
            background-color: #FAFAFA;

            a{
                transform: rotate(180deg); //180도 회전처리
            }
        }

        &:nth-child(1){
            border-top: 1px solid $main-color;
        }
        &:nth-child(19){
            margin-bottom: 30px;
            border-bottom: 1px solid $main-color;

            &.active{ //활성화시에는 여백 제거
                margin-bottom: 0;
                border-bottom: 1px solid #666;
            }
        }
        
        display: flex;
        border-bottom: 1px solid #999;
        background: #FFF;
        
        .q-check{
            display: flex;
            width: 100px;
            height: 70px;
            justify-content: center;
            align-items: center;
        }

        .q{
            display: flex;
            width: 100px;
            height: 70px;
            justify-content: center;
            align-items: center;
            font-weight: 700;
        }

        .q-title{
            display: flex;
            height: 70px;
            align-items: center;
            flex: 1 0 0;
            font-size: 16px;
            line-height: 150%; /* 24px */
        }
        a{
            display: flex;
            width: 100px;
            height: 70px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            display: block;  
            background-image: url(../images/service/faq_down.svg);
            background-repeat: no-repeat;
            background-position: center;
            color: #666;
            transition: 0.3s; //CSS변화를 자연스럽게 처리
        }
    }
  
    .faq-a{
        display: flex;
        border-bottom: 1px solid #999;
        

        &:nth-child(20){
            border-bottom: 1px solid #1C1C1C;
            margin-bottom: 30px;
        }
        .blank1, .blank2{
            display: flex;
            width: 100px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            align-self: stretch;
        }
        .a{
            display: flex;
            width: 100px;
            padding: 20px 0px;
            justify-content: center;
            align-items: flex-start;
            flex-shrink: 0;
            align-self: stretch;
            font-weight: 700;
        }
        .a-contents{
            width: 100%;
            height: auto;
            padding: 20px 0px;
            align-items: flex-start;
            flex: 1 0 0;
            font-size: 16px;
            line-height: 150%; /* 24px */
        }
    }
    
}