@charset "utf-8";

//변수선언
$main-color: #1C1C1C;
$min-width: 1200px;


.right_contents{

    .insert-pw-box{
        display: flex;
        height: 200px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: #F6F6F6;

        p{
            color: #000;
            font-size: 24px;
            padding-top: 50px;
        }
        #insert-pw-input{
            width: 500px;
            height: 50px;
            border: 1px solid #DFDFDF;
            background: #FFF;
            margin-bottom: 50px;
            background-image: url(../images/topnav/login_pw.svg);
            background-repeat: no-repeat;
            background-position: 20px;
            padding: 0px 45px;

            &::placeholder {
                color: #CCCCCC;
                font-size: 14px;
            }
        }
    }
    #personal_btn{
        display: flex;
        width: 265px;
        height: 70px;
        justify-content: center; // 세로줄 가운데 정렬
        align-items: center; // 가로줄 가운데 정렬
        border: 1px solid #1C1C1C;
        background: #FFF;
        margin: auto;
        margin-top: 43px;
    }

    
}